@charset "utf-8"; /* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400; 700; 800&display=swap'); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"); /* Reset */
html { font-size: 10px; } 
body * { outline: none; box-sizing: border-box; } 
* { -webkit-tap-highlight-color: transparent; } 
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption { margin: 0; padding: 0; } 
body { font-size: 1rem; background: #fff; -webkit-text-size-adjust: none; word-wrap: break-word; } 
body,
input,
select,
textarea,
pre { border: none; font-size: 1.8rem; font-family: "Pretendard", sans-serif; color: #222; margin: 0 auto; } 
button { border: none; font-family: "Pretendard", sans-serif; outline: none; cursor: pointer; background-color: transparent; font-size: 1.4rem; } 
ul,
ol,
li { list-style: none; } 
table { border-spacing: 0; } 
img,
fieldset { border: 0; } 
address,
cite,
code,
em { font-style: normal; font-weight: normal; } 
label,
img,
input,
select,
textarea,
button { vertical-align: middle; } 
.hide,
legend { overflow: hidden; display: block; position: absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); } 
hr { display: none; } 
main,
header,
section,
nav,
footer,
aside,
article,
figure { display: block; } 
a { color: #222; text-decoration: none; } 
img { pointer-events: none; } 

/* rem rule */
@media (max-width: 768px) { html { font-size: 9px; } 
 }
@media (max-width: 360px) { html { font-size: 8px; } 
 }

/* 공통 */
body { background: #fafafa; } 
main { padding-top: 8rem; } 
.con_box { max-width: 120rem; margin: 0 auto; padding: 0 3rem; } 

/* header */
header { position: fixed; left: 0; right: 0; height: 8rem; padding: 0 10%; background: #fff; border-bottom: 1px solid #eee; box-sizing: border-box; z-index: 100; } 
header .con_box { display: flex; align-items: center; justify-content: space-between; height: 100%; } 
header .logo { display: block; width: 7rem; height: 4.8rem; background: url(../images/logo.png) no-repeat center / contain; } 
header ul { display: flex; } 
header ul li a { display: block; padding: 0 2.5rem; font-size: 2rem; } 
header ul li a:hover { background: url(../images/hover.png) no-repeat center; color: #a2d9e7; } 

/* 비주얼 */
.visual { position: relative; height: 80rem; display: flex; align-items: center; } 
.visual_box { display: flex; width: 100%; justify-content: center; align-items: flex-end; color: #272727; } 
.visual_box > div { flex-grow: 1; width: 60%; text-align: right; padding-bottom: 3rem; } 
.visual_box em { font-size: 4.5rem; } 
.visual_box span { display: block; font-size: 8rem; } 
.visual_box p { font-size: 1.7rem; color: #727272; padding-bottom: 1rem; } 
.visual_box img { display: block; width: 40%; max-width: 55rem; } 

.visual_back i { width: 4rem; height: 4rem; position: absolute; left: 50%; transform: translateX(-50%); background: url(../images/ico_arrow.png) no-repeat center / contain; animation: ani2 infinite 2.5s both; } 
.visual_back span { position: absolute; z-index: -1; } 
.visual_back span ~ span { opacity: 0; animation: ani1 1 1s both; } 
.visual_back .v_01 { width: 19rem; height: 19rem; left: 0; top: 51%; background: url(../images/v_01.png) no-repeat center / contain; animation: rotate 6s linear infinite; } 
.visual_back .v_02 { width: 6rem; height: 6rem; left: 17%; top: 18%; background-color: #ffc845; border-radius: 100%; animation-delay: 0.4s; } 
.visual_back .v_03 { width: 16.5rem; height: 16.5rem; left: 32.4%; top: 32%; background: url(../images/v_03.png) no-repeat center / contain; animation-delay: 0.8s; } 
.visual_back .v_04 { width: 12rem; height: 12rem; right: 3%; top: 10%; border: 1.6rem solid #ffc845; border-radius: 100%; animation-delay: 1.2s; } 

@keyframes ani1 { 
 0% { opacity: 0; transform: translateY(-295%); } 
 50% { transform: translateY(0); } 
 70% { transform: translateY(-10%); } 
 100% { opacity: 1; transform: translateY(0); } 
 }

@keyframes ani2 { 
 0% { bottom: 10%; } 
 60% { bottom: 10%; } 
 80% { bottom: 8%; } 
 100% { bottom: 10%; } 
 }

@keyframes rotate { 
 0% { transform: rotate(0deg); } 
 100% { transform: rotate(360deg); } 
 }

/* about me */
.aboutme { padding-top: 20rem; } 
.portfolio h2,
.aboutme h2 { display: flex; justify-content: center; padding-bottom: 3rem; color: #ffc845; font-size: 9rem; font-weight: 600; } 
.aboutme h2 em { font-weight: 600; } 
.aboutme.ani3 h2 em { animation: ani3 1 0.5s both; } 
.aboutme.ani3 h2 em:nth-child(2) { animation-delay: 0.1s; } 
.aboutme.ani3 h2 em:nth-child(3) { animation-delay: 0.2s; } 
.aboutme.ani3 h2 em:nth-child(4) { animation-delay: 0.3s; } 
.aboutme.ani3 h2 em:nth-child(5) { animation-delay: 0.4s; } 
.aboutme.ani3 h2 em:nth-child(6) { animation-delay: 0.5s; } 
.aboutme.ani3 h2 em:nth-child(7) { animation-delay: 0.6s; } 

.info_box h3 { margin: 5rem 0 1.5rem; padding-bottom: 1rem; font-size: 2.5rem; color: #000; border-bottom: 1px solid #ccc; } 
.info_box li { padding-bottom: 1.5rem; line-height: 2.8rem; } 
.info_box li.under { border-bottom: 1px solid #e7e7e7; margin-bottom: 1.5rem; }
.info_box strong { display: inline-block; width: 26rem; color: #727272; } 
.info_box p { font-size: 1.2rem; columns: #727272; } 
.profile_top { display: flex; justify-content: center; align-items: flex-start; } 
.profile_top > div { flex: 1; } 
.profile_top > div:last-child { padding-left: 7rem; } 
.info_box .profile_top strong { width: 10rem; } 

@keyframes ani3 { 
 0% { transform: translateY(0); } 
 50% { transform: translateY(-20px); } 
 100% { transform: translateY(0); } 
 }

/* portfolio */
.portfolio { position: relative; padding: 10rem 0; margin-top: 20rem; } 
.portfolio.back_color > span { left: 0; border-radius: 0; width: 100%; height: 100%; transition: all 0.7s; } 
.portfolio > span { display: block; position: absolute; top: 0; left: 33%; width: 195px; height: 195px; background: rgba(162, 217, 231, 0.2); border-radius: 100%; z-index: -1; } 

.tab_menu { display: flex; justify-content: center; align-items: center; padding: 5rem 0; flex-wrap: wrap; } 
.tab_menu li ~ li { margin-left: 1.2rem; } 
.tab_menu button { padding: 0.5rem 1.2rem; font-size: 2rem; background-color: rgba(162, 217, 231, 0.7); border: 1px solid #fff; border-radius: 0.4rem; font-weight: 300; margin-bottom: 1.2rem; } 
.tab_menu li:hover button,
.tab_menu li.active button { background-color: #fff; color: #a2d9e7; transition: 0.3s; }

.tab_pannel { display: flex; align-items: stretch; gap: 2.4rem; flex-wrap: wrap; } 
.tab_pannel li { position: relative; width: calc(100% / 3 - 1.6rem); background-color: #fff; border-radius: 0.4rem; margin-bottom: 3rem; border: 1px solid transparent; transition: all 0.4s; } 
.tab_pannel li:hover { border-color: #a2d9e7; } 
.tab_pannel li .tag { position: absolute; right: 1rem; top: 1rem; background-color: #ffc845; color: #fff; font-size: 1.2rem; padding: 0.4rem 0.8rem; border-radius: 0.4rem; font-weight: 200; } 
.tab_pannel li .img_box { padding: 3rem 5rem; } 
.tab_pannel li img { display: block; max-width: 100%; } 

.tab_pannel .txt_box { padding: 2rem 3rem; border-top: 1px solid #eee; } 
.tab_pannel .txt_box strong { display: block; font-size: 2.2rem; } 
.tab_pannel .txt_box span { font-size: 1.2rem; } 
.tab_pannel .txt_box p { line-height: 2.6rem; padding: 2rem 0 5rem; } 
.tab_pannel .txt_box i { position: absolute; right: 3rem; bottom: 2rem; background: url(../images/ico_go.png) no-repeat right 0 bottom 0 / contain; font-size: 2rem; color: #878787; font-style: normal; padding-left: 2rem; } 


/* footer */
footer { position: relative; background: #878787; padding: 5rem 0; } 
footer .con_box { display: flex; align-items: center; justify-content: space-between; } 
footer img { width: 8.6rem; } 
.foo_info { color: #fff; line-height: 3.6rem; } 
.foo_info a { color: #fff; font-size: 2rem; padding-left: 6.5rem; background: url(../images/ico_tel.png) no-repeat left center / 4.3rem; } 
footer span { padding-left: 6.5rem; margin-left: 7rem; background: url(../images/ico_address.png) no-repeat left center / 4.6rem; font-size: 2rem; } 

footer .top { width: 5rem; height: 5rem; background: url(../images/top.png) no-repeat center / contain; } 



@media (max-width: 1024px){
 .visual_box span { font-size: 7rem; } 
 .tab_pannel li { width: calc(50% - 1.3rem); } 
 }
@media (max-width: 768px){
 .visual { height: 40rem; } 
 .visual_box em { font-size: 2.5rem; } 
 .visual_box span { font-size: 5rem; } 
 .visual_box img { display: none; } 
 .visual_back .v_01 { display: none; } 

 .aboutme { padding-top: 10rem; } 
 .profile_top { display: block; } 
 .profile_top > div:last-child { padding-left: 0; } 
 .portfolio { margin-top: 10rem; } 
 .portfolio h2,
 .aboutme h2 { font-size: 6rem; padding-bottom: 0; } 
 .info_box > ul strong { width: 100%; } 

 footer .con_box { display: block; } 
 footer img { width: 5rem; margin-bottom: 1.6rem; } 
 .foo_info span { display: block; margin-left: 0; } 
 footer .top { position: absolute; top: calc(50% - 2.5rem); right: 3rem; } 
 }
@media (max-width: 460px){
 .visual_box em { font-size: 2rem; } 
 .visual_box span { font-size: 4rem; } 
 .visual_box p { font-size: 1.5rem; } 
 .visual_back .v_02 { display: none; } 
 .visual_back .v_03 { left: 0; } 
 .visual_back i { width: 2.5rem; height: 2.5rem; } 
 .tab_pannel { gap: 0; } 
 .tab_pannel li { width: 100%; } 
 }
